<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>微博内容库查询</title>
<link rel="stylesheet" type="text/css" href="$StaticConfig.u('/js/extjs3/resources/css/ext-all.css')" />
<link rel="stylesheet" type="text/css" href="$StaticConfig.u('/css/extcss/ext_icon.css')" />
<link rel="stylesheet" type="text/css" href="$StaticConfig.u('/css/extcss/LockingGridView.css')" />
<link rel="stylesheet" type="text/css" href="$StaticConfig.u('/js/ux/htmleditor/resources/css/htmleditorplugins.css')" />
<script>
	$CONFIG = {
		BLANK_IMAGE_URL:"$StaticConfig.u('/js/extjs3/resources/images/default/s.gif')",
		CHART_URL:"$StaticConfig.u('/js/extjs3/resources/charts.swf')"
	};
	// 全局对象ID
	var GFANSID;
	var GROBOTID;
	var GISROBOT=false;
</script>
<script type="text/javascript" src="$StaticConfig.u('/js/extjs3/adapter/ext/ext-base.js')" ></script>
<script type="text/javascript" src="$StaticConfig.u('/js/extjs3/ext-all-debug.js')" ></script>
<script type="text/javascript" src="$StaticConfig.u('/js/extjs3/ext-lang-zh_CN.js')" ></script>
<script type="text/javascript" src="$StaticConfig.u('/js/pubjs/includeinit.js')"></script>
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/utils/extutils.js'))"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/datetimefield/DateTimeField.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/datetimefield/Spinner.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/datetimefield/SpinnerField.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/ProgressBarPager.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/ProgressBarPager.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/LockingGridView.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.MidasCommand.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.Divider.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.HR.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.RemoveFormat.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.IndentOutdent.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.SubSuperScript.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.FindAndReplace.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.Table.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.Word.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.Link.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.SpecialCharacters.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.Heading.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.Plugins.js')"></script>
<script type="text/javascript" src="$StaticConfig.u('/js/ux/htmleditor/js/Ext.ux.form.HtmlEditor.Image.js')"></script>
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/contentlib/ContentInfoGrid.js'))"></script>
</head>
<body>
</body>
</html>