<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>消息系统</title>
#parse("/show/comm/PublicInclude.vm")
#parse("/show/comm/DateTimeFieldInclude.vm")
#parse("/show/comm/NoticeCmpInclude.vm")
#parse("/show/comm/StrategyDispatchCmpInclude.vm")
#parse("/show/comm/FunctionsInclude.vm")
#parse("/show/comm/TaskJobResultQueryInclude.vm")
#parse("/show/comm/StrategyDisplayNameCmpInclude.vm")
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/component/SelectUserCombo.js'))"></script>
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/notice/NoticeSystemModel.js'))"></script>
</head>
<body>
</body>
</html>