<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>机器人注册信息查询</title>
#parse("/show/comm/PublicInclude.vm")
#parse("/show/comm/LockingGridInclude.vm")
#parse("/show/comm/DateTimeFieldInclude.vm")
#parse("/show/comm/My97DateInclude.vm")
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/user/UserRobotInfoSinaGrid.js'))"></script>
</head>
<body>
</body>
</html>