<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>用户信息管理查询</title>
#parse("/show/comm/PublicInclude.vm")
#parse("/show/comm/LockingGridInclude.vm")
#parse("/show/comm/WebsiteSelectCmpInclude.vm")
#parse("/show/comm/FileUpoadFieldCmpInclude.vm")
#parse("/show/comm/UserGroupCmpInclude.vm")
#parse("/show/comm/My97DateInclude.vm")
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/user/UserFansInfoDtlGrid.js'))"></script>
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/user/UserRobotFansInfoDtlGrid.js'))"></script>
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/user/UserInfoSinaGrid.js'))"></script>
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/user/UserQueryShowTabs.js'))"></script>
</head>
<body>
</body>
</html>