<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>下载曲线设置</title>
#parse("/show/comm/PublicInclude.vm")
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/cooldown/ActionCooldownSetting.js'))"></script>
</head>
<body>
</body>
</html>