<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/component/StrategyConfigTreeCmp.js'))"></script>
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/component/StrategyPropertyCmp.js'))"></script>
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/component/DispatchConfigCmp.js'))"></script>
<br />
<br />