<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>微博内容库查询</title>
#parse("/show/comm/PublicInclude.vm")
#parse("/show/comm/LockingGridInclude.vm")
#parse("/show/comm/HtmlEditorFieldInclude.vm")
#parse("/show/comm/WebsiteNameCmpInclude.vm")
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/contentlib/ContentInfoGrid.js'))"></script>
</head>
<body>
</body>
</html>