<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>策略分组管理</title>
#parse("/show/comm/PublicInclude.vm")
#parse("/show/comm/DateTimeFieldInclude.vm")
#parse("/show/comm/My97DateInclude.vm")
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/component/SelectUserGroupCombo.js'))"></script>
#parse("/show/comm/TaskJobResultQueryInclude.vm")
#parse("/show/comm/TaskResultCmpInclude.vm")
#parse("/show/comm/StrategyDisplayNameCmpInclude.vm")
#parse("/show/comm/WebsiteSelectCmpInclude.vm")
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/strategygroup/StrategyGroupManageModel.js'))"></script>
#parse("/show/comm/FunctionsInclude.vm")
</head>
<body>
</body>
</html>