<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>策略调度列表</title>
<script>
	// 全局对象ID
	var GOBJID = null;
	var GDISNAME = null;
	var GDISPID;
</script>
#parse("/show/comm/PublicInclude.vm")
#parse("/show/comm/DateTimeFieldInclude.vm")
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/strategy/stgTreePanelcp.js'))"></script>
#parse("/show/comm/FunctionsInclude.vm")
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/strategy/strategyDispatchGridLayout.js'))"></script>
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/strategy/stgDispatchGridQueryFormcp.js'))"></script>
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/strategy/stgDispatchListGridcp.js'))"></script>
</head>
<body>
</body>
</html>