<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>用户分组管理</title>
<script>
	//全局用户分组ID
	GUSERGROUPID = null;
</script>
#parse("/show/comm/PublicInclude.vm")
#parse("/show/comm/DateTimeFieldInclude.vm")
#parse("/show/comm/FunctionsInclude.vm")
#parse("/show/comm/WebsiteSelectCmpInclude.vm")
#parse("/show/comm/UserSelectCmpInclude.vm")
<script type="text/javascript" src="$UriCacheRefreshUtil.addTimestamp($StaticConfig.u('/js/app/usergroup/UserGroupManageModel.js'))"></script>
</head>
<body>
</body>
</html>